body {
  background-color: hsl(0, 100%, 74%);
  background-image: url(../images/bg-intro-desktop.png);
  font-family: poppins, Arial, Helvetica, sans-serif;
}


.container {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid red;
  text-align: center;
  margin-top: 15rem;
  border-radius: 1rem;
  background-color: aqua;
}